.PropertyMenu {
    &.menu-textbox {
        font-weight: 400;
        padding: 2px 10px;
        cursor: text;
        touch-action: none;
        border: solid 1px var(--border-strong);
        border-radius: var(--radius-sm);
        margin: 5px;
    }
}
