.HiddenCardCount {
    display: flex;
    height: 30px;

    &:hover {
        cursor: pointer;
    }

    .hidden-card-title {
        background: rgba(var(--error-text-rgb), 0.15);
        color: rgb(var(--error-text-rgb));
        padding: 3px 6px;
        border-radius: var(--radius-sm);
        text-transform: uppercase;
        font-weight: bold;
    }
}
