@import '../styles/z-index';

.Workspace {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;

    > .mainFrame {
        @include z-index(workspace-main-frame);
        position: relative;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        > .banner {
            background-color: var(--prop-yellow);
            text-align: center;
            padding: 10px;
            color: rgb(var(--center-channel-color-rgb));
            font-weight: bold;
        }
    }
}
